html{
  margin:0;
  padding: 0;
}

body{
  margin:0;
  padding: 0;
  margin-top: 40px;
  font-family: sans-serif;
}

#sidebar {
  height: 100%;
  width: 25%;
  position: fixed;
  left: 0;
  top: 0px;
  border-right: 1px solid #e3e3e3;
}

#logo img{
  width: 85%;
  height: 85%;
}

#insideBar{
  margin-left: 10%;
  margin-top: 20px;
}

#secondBody{
  margin-left: 25%;
}

#bio h4 {
  margin-top: -10px;
}

#bio p {
  font-size: 15px;
  line-height: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4d4d4d;
  font-family: 'proxima-nova',sans-serif;
  font-weight: 400;
}

#buttonContainer ul li {
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 25px;
  border: 4px solid #f8f8f8;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  z-index: 5;
  padding-right: 15px;
  color: #999;
  text-align: center;;
  margin-top: 10px;
  margin-left: -30px;
  font-weight: 600;
  background-color: #fff;
  width: 80px;
}

#blogContainer {
  border-top: 1px solid #e2e2e2;
}

#blogDate h3 {
  display: block;
  font-family: "freight-sans-pro",sans-serif;
  position: relative;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 23px;
  margin-left: 26px;
  bottom: 14px;
}

#blogTitle{
  width: 220px;
  padding-top: 35px;
}

#blogPost img{
  width: 95%;
  height: 95%;
}

#blogTitle h3 {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #CCC;
  font-family: "freight-sans-pro",sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  margin-left: 30px;
  -webkit-font-smoothing: antialiased;
}

#kudos {
  float: right;
}

#blogPost p {
  font-size: 15px;
  line-height: 27px;
  color: #373737;
  font-family: 'proxima-nova',sans-serif;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  width: 85%;
}
